{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "process": true,
    "__process": true,
    "require": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended"
  ]
}